body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 60px 1fr;
    row-gap: 12px;
}

.container {
    width: 100%;
    grid-row: 2/4;
    grid-column: 1/2;
}

.navbar {
    height: max-content;
    grid-row: 1/2;
    grid-column: 1/2;
}

.nav-item-role {
    display: flex;
    width: max-content;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.rightbar {
    grid-row: 1/4;
    grid-column: 2/3;
    min-height: 100%;
    width: 200px;
    background-color: #f8f9fa;
    padding: 10px;
    border-left: 1px solid #ddd;
}

.rightbar a {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
    padding: 5px;
}

.rightbar a.disabled {
    pointer-events: none;
    color: #6c757d;
}

.rightbar a:hover:not(.disabled) {
    background-color: #e9ecef;
    color: #0056b3;
    text-decoration: none;
}

.field {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    margin: 0;
}
