<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Справочная информация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        .scrollable-table {
            max-height: 50vh;
            overflow-y: auto;
            position: relative;
        }
        .sticky-header {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 10;
        }
        .active-record {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
        }
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body class="body-wrapper">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/choose-institute">Выбор института</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/background-information">Справочная информация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-rpd">Формирование пакета РПД</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Справочная информация</h1>

    <!-- Секция институтов -->
    <section>
        <h2>Институты:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="institutesTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="ID" onkeyup="filterTable('institutesTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Название" onkeyup="filterTable('institutesTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="Город" onkeyup="filterTable('institutesTable', 2)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>ID</th>
                    <th>Название</th>
                    <th>Город</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="institute : ${institutes}">
                    <td th:text="${institute.id}"></td>
                    <td th:text="${institute.name}"></td>
                    <td th:text="${institute.city}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeInstitute}">
            <h3>Активный институт</h3>
            <p><strong>ID:</strong> <span th:text="${activeInstitute.id}"></span></p>
            <p><strong>Название:</strong> <span th:text="${activeInstitute.name}"></span></p>
            <p><strong>Город:</strong> <span th:text="${activeInstitute.city}"></span></p>
            <p><strong>Директор:</strong> <span th:text="${activeInstitute.director.nameTypeOne}"></span></p>
            <p><strong>Текст утверждено:</strong> <span th:text="${activeInstitute.approvalText}"></span></p>
            <p><strong>Текст подвал:</strong> <span th:text="${activeInstitute.footerText}"></span></p>
        </div>
    </section>

    <!-- Секция кафедр -->
    <section>
        <h2>Кафедры:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="departmentsTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="ID" onkeyup="filterTable('departmentsTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Код" onkeyup="filterTable('departmentsTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="Название" onkeyup="filterTable('departmentsTable', 2)"></th>
                    <th><input type="text" class="form-control" placeholder="Аббревиатура" onkeyup="filterTable('departmentsTable', 3)"></th>
                    <th><input type="text" class="form-control" placeholder="Институт" onkeyup="filterTable('departmentsTable', 4)"></th>
                    <th><input type="text" class="form-control" placeholder="Заведующий" onkeyup="filterTable('departmentsTable', 5)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>ID</th>
                    <th>Код</th>
                    <th>Название</th>
                    <th>Аббревиатура</th>
                    <th>Институт</th>
                    <th>Заведующий</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="department : ${departments}">
                    <td th:text="${department.id}"></td>
                    <td th:text="${department.code}"></td>
                    <td th:text="${department.name}"></td>
                    <td th:text="${department.abbreviation}"></td>
                    <td th:text="${department.institute.name}"></td>
                    <td th:text="${department.manager.nameTypeOne}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeDepartment}">
            <h3>Активная кафедра</h3>
            <p><strong>ID:</strong> <span th:text="${activeDepartment.id}"></span></p>
            <p><strong>Код:</strong> <span th:text="${activeDepartment.code}"></span></p>
            <p><strong>Название:</strong> <span th:text="${activeDepartment.name}"></span></p>
            <p><strong>Аббревиатура:</strong> <span th:text="${activeDepartment.abbreviation}"></span></p>
            <p><strong>Институт:</strong> <span th:text="${activeDepartment.institute.name}"></span></p>
            <p><strong>Заведующий:</strong> <span th:text="${activeDepartment.manager.name}"></span></p>
        </div>
    </section>
    <!-- Направления -->
    <section>
        <h2>Направления:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="directionsTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Шифр" onkeyup="filterTable('directionsTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Название" onkeyup="filterTable('directionsTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="Кафедра" onkeyup="filterTable('directionsTable', 2)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Шифр</th>
                    <th>Название</th>
                    <th>Кафедра</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="direction : ${directions}">
                    <td th:text="${direction.encryption}"></td>
                    <td th:text="${direction.name}"></td>
                    <td th:text="${direction.department.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeDirection}">
            <h3>Активная кафедра</h3>
            <p><strong>ID:</strong> <span th:text="${activeDirection.id}"></span></p>
            <p><strong>Название:</strong> <span th:text="${activeDepartment.name}"></span></p>
            <p><strong>Шифр:</strong> <span th:text="${activeDirection.encryption}"></span></p>
            <p><strong>Кафедра:</strong> <span th:text="${activeDirection.department.name}"></span></p>
        </div>
    </section>
    <!-- Профили -->
    <section>
        <h2>Профили:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="profilesTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Название" onkeyup="filterTable('profilesTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Направление" onkeyup="filterTable('profilesTable', 1)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Название</th>
                    <th>Направление</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="profile : ${profiles}">
                    <td th:text="${profile.name}"></td>
                    <td th:text="${profile.direction.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeProfile}">
            <h3>Активный профиль</h3>
            <p><strong>ID:</strong> <span th:text="${activeProfile.id}"></span></p>
            <p><strong>Название:</strong> <span th:text="${activeProfile.name}"></span></p>
            <p><strong>Шифр:</strong> <span th:text="${profile.direction.encryption + ' ' + profile.direction.name}"></span></p>
        </div>
    </section>
    <!-- Типы обучения -->
    <section>
        <h2>Типы обучения:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="educationTypesTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Название" onkeyup="filterTable('educationTypesTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Срок освоения" onkeyup="filterTable('educationTypesTable', 1)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Название</th>
                    <th>Срок освоения</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="educationType : ${educationTypes}">
                    <td th:text="${educationType.name}"></td>
                    <td th:text="${educationType.learningPeriod}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeEducationType}">
            <h3>Активный тип обучения</h3>
            <p><strong>ID:</strong> <span th:text="${activeEducationType.id}"></span></p>
            <p><strong>Название:</strong> <span th:text="${activeEducationType.name}"></span></p>
            <p><strong>Шифр:</strong> <span th:text="${activeEducationType.learningPeriod}"></span></p>
        </div>
    </section>

    <!-- Сотрудники -->
    <section>
        <h2>Сотрудники:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="employeesTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Фамилия" onkeyup="filterTable('employeesTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Имя" onkeyup="filterTable('employeesTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="Отчество" onkeyup="filterTable('employeesTable', 2)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.middleName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeEducationType}">
            <h3>Активный сотрудник</h3>
            <p><strong>ID:</strong> <span th:text="${activeEducationType.id}"></span></p>
            <p><strong>Фамилия:</strong> <span th:text="${activeEducationType.lastName}"></span></p>
            <p><strong>Имя:</strong> <span th:text="${activeEducationType.firstName}"></span></p>
            <p><strong>Отчество:</strong> <span th:text="${activeEducationType.middleName}"></span></p>
            <p><strong>ФамилияИО:</strong> <span th:text="${activeEducationType.nameTypeOne}"></span></p>
            <p><strong>ИОФамилия:</strong> <span th:text="${activeEducationType.nameTypeTwo}"></span></p>
        </div>
    </section>

    <!-- Должности -->
    <section>
        <h2>Должности:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="employeePositionsTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Название должности" onkeyup="filterTable('employeePositionsTable', 0)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Название должности</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employeePosition : ${employeePositions}">
                    <td th:text="${employeePosition.positionName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeEmployeePosition}">
            <h3>Активная должность</h3>
            <p><strong>ID:</strong> <span th:text="${activeEmployeePosition.id}"></span></p>
            <p><strong>Название:</strong> <span th:text="${activeEducationType.positionName}"></span></p>
        </div>
    </section>

    <!-- Преподаватели -->
    <section>
        <h2>Преподаватели:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="teachersTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Кафедра" onkeyup="filterTable('teachersTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Должность" onkeyup="filterTable('teachersTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="ФамилияИО" onkeyup="filterTable('teachersTable', 2)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Кафедра</th>
                    <th>Должность</th>
                    <th>ФамилияИО</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teacher : ${teachers}">
                    <td th:text="${teacher.department.name}"></td>
                    <td th:text="${teacher.employeePosition.positionName}"></td>
                    <td th:text="${teacher.employee.nameTypeOne}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeTeachers}">
            <h3>Активная должность</h3>
            <p><strong>ID:</strong> <span th:text="${activeTeachers.id}"></span></p>
            <p><strong>Название:</strong> <span th:text="${activeTeachers.department.name}"></span></p>
            <p><strong>Название:</strong> <span th:text="${activeTeachers.employeePosition.positionName}"></span></p>
            <p><strong>Название:</strong> <span th:text="${activeTeachers.employee.nameTypeOne}"></span></p>
        </div>
    </section>

    <!-- Дисциплины -->
    <section>
        <h2>Дисциплины:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="disciplinesTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Индекс" onkeyup="filterTable('disciplinesTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Дисциплина" onkeyup="filterTable('disciplinesTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="ФамилияИО" onkeyup="filterTable('disciplinesTable', 2)"></th>
                    <th><input type="text" class="form-control" placeholder="Кафедра" onkeyup="filterTable('disciplinesTable', 3)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Индекс</th>
                    <th>Дисциплина</th>
                    <th>ФамилияИО</th>
                    <th>Кафедра</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="discipline : ${disciplines}">
                    <td th:text="${discipline.indexDiscipline}"></td>
                    <td th:text="${discipline.name}"></td>
                    <td th:text="${discipline.developer.employee.nameTypeOne}"></td>
                    <td th:text="${discipline.department.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeDiscipline}">
            <h3>Активная дисциплина</h3>
            <p><strong>ID:</strong> <span th:text="${activeDiscipline.id}"></span></p>
            <p><strong>Индекс:</strong> <span th:text="${activeDiscipline.department.name}"></span></p>
            <p><strong>Дисциплина:</strong> <span th:text="${activeDiscipline.employeePosition.positionName}"></span></p>
            <p><strong>ФамилияИО:</strong> <span th:text="${activeDiscipline.employee.nameTypeOne}"></span></p>
            <p><strong>Кафедра:</strong> <span th:text="${activeDiscipline.employee.nameTypeOne}"></span></p>
        </div>
    </section>

    <!-- Компетенции -->
    <section>
        <h2>Компетенции:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="competenciesTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Код" onkeyup="filterTable('competenciesTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Текст" onkeyup="filterTable('competenciesTable', 1)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Код</th>
                    <th>Текст</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="competencie : ${competencies}">
                    <td th:text="${competencie.code}"></td>
                    <td th:text="${competencie.essence}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeCompetencie}">
            <h3>Активная компетенция</h3>
            <p><strong>ID:</strong> <span th:text="${activeCompetencie.id}"></span></p>
            <p><strong>Код:</strong> <span th:text="${activeCompetencie.code}"></span></p>
            <p><strong>Текст:</strong> <span th:text="${activeCompetencie.essence}"></span></p>
            <p><strong>Знать:</strong> <span th:text="${activeCompetencie.know}"></span></p>
            <p><strong>Уметь:</strong> <span th:text="${activeCompetencie.beAble}"></span></p>
            <p><strong>Владеть:</strong> <span th:text="${activeCompetencie.own}"></span></p>
        </div>
    </section>

    <!-- Аудитории -->
    <section>
        <h2>Аудитории:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="audiencesTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Институт" onkeyup="filterTable('audiencesTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Аудитория №" onkeyup="filterTable('audiencesTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="Техника" onkeyup="filterTable('audiencesTable', 2)"></th>
                    <th><input type="text" class="form-control" placeholder="Лицензия ПО в аудитории" onkeyup="filterTable('audiencesTable', 3)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Институт</th>
                    <th>Аудитория №</th>
                    <th>Техника</th>
                    <th>Лицензия ПО в аудитории</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="audience : ${audiences}">
                    <td th:text="${audience.institute.name}"></td>
                    <td th:text="${audience.numberAudience}"></td>
                    <td th:text="${audience.tech}"></td>
                    <td th:text="${audience.softwareLicense}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeCompetencie}">
            <h3>Активная аудитория</h3>
            <p><strong>ID:</strong> <span th:text="${activeCompetencie.id}"></span></p>
            <p><strong>Институт:</strong> <span th:text="${audience.institute.name}"></span></p>
            <p><strong>Аудитория №:</strong> <span th:text="${audience.numberAudience}"></span></p>
            <p><strong>Техника:</strong> <span th:text="${audience.tech}"></span></p>
            <p><strong>Лицензия ПО в аудитории:</strong> <span th:text="${audience.softwareLicense}"></span></p>
        </div>
    </section>

    <!-- ООП -->
    <section>
        <h2>ООП:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="basicEducationalProgramsTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Учебный год" onkeyup="filterTable('basicEducationalProgramsTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Профиль" onkeyup="filterTable('basicEducationalProgramsTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="Тип Обучения" onkeyup="filterTable('basicEducationalProgramsTable', 2)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Учебный год</th>
                    <th>Профиль</th>
                    <th>Тип Обучения</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="basicEducationalProgram : ${basicEducationalPrograms}">
                    <td th:text="${basicEducationalProgram.academicYear}"></td>
                    <td th:text="${basicEducationalProgram.profile.name}"></td>
                    <td th:text="${basicEducationalProgram.educationType.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeBasicEducationalProgram}">
            <h3>Активная ООП</h3>
            <p><strong>ID:</strong> <span th:text="${activeBasicEducationalProgram.id}"></span></p>
            <p><strong>Учебный год:</strong> <span th:text="${basicEducationalProgram.academicYear}"></span></p>
            <p><strong>Профиль обучения:</strong> <span th:text="${basicEducationalProgram.profile.name}"></span></p>
            <p><strong>ТипОбучения:</strong> <span th:text="${basicEducationalProgram.educationType.name}"></span></p>
        </div>
    </section>

    <!-- ДисциплиныОП -->
    <section>
        <h2>ДисциплиныОП:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="disciplinesEducationalProgramsTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Профиль" onkeyup="filterTable('disciplinesEducationalProgramsTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Учебный год" onkeyup="filterTable('disciplinesEducationalProgramsTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="Тип обучения " onkeyup="filterTable('disciplinesEducationalProgramsTable', 2)"></th>
                    <th><input type="text" class="form-control" placeholder="Дисциплина" onkeyup="filterTable('disciplinesEducationalProgramsTable', 3)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Профиль</th>
                    <th>Учебный год</th>
                    <th>Тип обучения</th>
                    <th>Дисциплина</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="disciplineEducationalProgram : ${disciplineEducationalPrograms}">
                    <td th:text="${disciplineEducationalProgram.basicEducationalProgram.profile.name}"></td>
                    <td th:text="${disciplineEducationalProgram.basicEducationalProgram.academicYear}"></td>
                    <td th:text="${disciplineEducationalProgram.basicEducationalProgram.educationType.name}"></td>
                    <td th:text="${disciplineEducationalProgram.discipline.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeDisciplineEducationalProgram}">
            <h3>Активная дисциплинаОП</h3>
            <p><strong>ID:</strong> <span th:text="${activeDisciplineEducationalProgram.id}"></span></p>
            <p><strong>Профиль:</strong> <span th:text="${activeDisciplineEducationalProgram.basicEducationalProgram.profile.name}"></span></p>
            <p><strong>Учебный год:</strong> <span th:text="${activeDisciplineEducationalProgram.basicEducationalProgram.academicYear}"></span></p>
            <p><strong>Тип обучения:</strong> <span th:text="${activeDisciplineEducationalProgram.basicEducationalProgram.educationType.name}"></span></p>
            <p><strong>Дисциплина:</strong> <span th:text="${activeDisciplineEducationalProgram.discipline.name}"></span></p>
        </div>
    </section>

    <!-- Компетенции дисциплинОП -->
    <section>
        <h2>Компетенции дисциплинОП:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="competenciesDisciplinesEducationalProgramsTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Профиль" onkeyup="filterTable('competenciesDisciplinesEducationalProgramsTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Учебный год" onkeyup="filterTable('competenciesDisciplinesEducationalProgramsTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="Тип обучения " onkeyup="filterTable('competenciesDisciplinesEducationalProgramsTable', 2)"></th>
                    <th><input type="text" class="form-control" placeholder="Дисциплина" onkeyup="filterTable('competenciesDisciplinesEducationalProgramsTable', 3)"></th>
                    <th><input type="text" class="form-control" placeholder="Компетенция" onkeyup="filterTable('competenciesDisciplinesEducationalProgramsTable', 4)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Профиль</th>
                    <th>Учебный год</th>
                    <th>Тип обучения</th>
                    <th>Дисциплина</th>
                    <th>Компетенция</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="competenciesDisciplinesEducationalProgram : ${competenciesDisciplinesEducationalPrograms}">
                    <td th:text="${competenciesDisciplinesEducationalProgram.disciplineEducationalProgram.basicEducationalProgram.profile.name}"></td>
                    <td th:text="${competenciesDisciplinesEducationalProgram.disciplineEducationalProgram.basicEducationalProgram.academicYear}"></td>
                    <td th:text="${competenciesDisciplinesEducationalProgram.disciplineEducationalProgram.basicEducationalProgram.educationType.name}"></td>
                    <td th:text="${competenciesDisciplinesEducationalProgram.disciplineEducationalProgram.discipline.name}"></td>
                    <td th:text="${competenciesDisciplinesEducationalProgram.competencie.code}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeCompetenciesDisciplinesEducationalProgram}">
            <h3>Активная дисциплинаОП</h3>
            <p><strong>ID:</strong> <span th:text="${activeDisciplineEducationalProgram.id}"></span></p>
            <p><strong>Профиль:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.basicEducationalProgram.profile.name}"></span></p>
            <p><strong>Учебный год:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.basicEducationalProgram.academicYear}"></span></p>
            <p><strong>Тип обучения:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.basicEducationalProgram.educationType.name}"></span></p>
            <p><strong>Дисциплина:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.discipline.name}"></span></p>
            <p><strong>Компетенция:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.discipline.name}"></span></p>
        </div>
    </section>

    <!-- файлы РПД -->
    <section>
        <h2>файлы РПД:</h2>
        <div class="scrollable-table">
            <table class="table table-bordered" id="filesRpdTable">
                <thead>
                <tr class="sticky-header">
                    <th><input type="text" class="form-control" placeholder="Профиль" onkeyup="filterTable('filesRpdTable', 0)"></th>
                    <th><input type="text" class="form-control" placeholder="Учебный год" onkeyup="filterTable('filesRpdTable', 1)"></th>
                    <th><input type="text" class="form-control" placeholder="Тип обучения " onkeyup="filterTable('filesRpdTable', 2)"></th>
                    <th><input type="text" class="form-control" placeholder="Дисциплина" onkeyup="filterTable('filesRpdTable', 3)"></th>
                    <th><input type="text" class="form-control" placeholder="Раздел 1. Цели" onkeyup="filterTable('filesRpdTable', 4)"></th>
                    <th><input type="text" class="form-control" placeholder="Раздел 2. Место в ООП" onkeyup="filterTable('filesRpdTable', 5)"></th>
                    <th><input type="text" class="form-control" placeholder="Раздел 3. Структура" onkeyup="filterTable('filesRpdTable', 6)"></th>
                    <th><input type="text" class="form-control" placeholder="Раздел 4. ОбрТехнолог" onkeyup="filterTable('filesRpdTable', 7)"></th>
                    <th><input type="text" class="form-control" placeholder="Раздел 5. ФОС" onkeyup="filterTable('filesRpdTable', 8)"></th>
                    <th><input type="text" class="form-control" placeholder="Раздел 6. Уч-мет ОД" onkeyup="filterTable('filesRpdTable', 9)"></th>
                </tr>
                <tr class="sticky-header">
                    <th>Профиль</th>
                    <th>Учебный год</th>
                    <th>Тип обучения</th>
                    <th>Дисциплина</th>
                    <th>Раздел 1. Цели</th>
                    <th>Раздел 2. Место в ООП</th>
                    <th>Раздел 3. Структура</th>
                    <th>Раздел 4. ОбрТехнолог</th>
                    <th>Раздел 5. ФОС</th>
                    <th>Раздел 6. Уч-мет ОД</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fileRPD : ${fileRPDS}">
                    <td th:text="${fileRPD.disciplineEducationalProgram.basicEducationalProgram.profile.name}"></td>
                    <td th:text="${fileRPD.disciplineEducationalProgram.basicEducationalProgram.academicYear}"></td>
                    <td th:text="${fileRPD.disciplineEducationalProgram.basicEducationalProgram.educationType.name}"></td>
                    <td th:text="${fileRPD.disciplineEducationalProgram.discipline.name}"></td>
                    <td>
                        <span th:if="${fileRPD.section1IsLoad}" th:text="'загружен'"></span>
                        <span th:unless="${fileRPD.section1IsLoad}" th:text="'не загружен'"></span>
                    </td>
                    <td>
                        <span th:if="${fileRPD.section2IsLoad}" th:text="'загружен'"></span>
                        <span th:unless="${fileRPD.section2IsLoad}" th:text="'не загружен'"></span>
                    </td>
                    <td>
                        <span th:if="${fileRPD.section3IsLoad}" th:text="'загружен'"></span>
                        <span th:unless="${fileRPD.section3IsLoad}" th:text="'не загружен'"></span>
                    </td>
                    <td>
                        <span th:if="${fileRPD.section4IsLoad}" th:text="'загружен'"></span>
                        <span th:unless="${fileRPD.section4IsLoad}" th:text="'не загружен'"></span>
                    </td>
                    <td>
                        <span th:if="${fileRPD.section5IsLoad}" th:text="'загружен'"></span>
                        <span th:unless="${fileRPD.section5IsLoad}" th:text="'не загружен'"></span>
                    </td>
                    <td>
                        <span th:if="${fileRPD.section6IsLoad}" th:text="'загружен'"></span>
                        <span th:unless="${fileRPD.section6IsLoad}" th:text="'не загружен'"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="active-record" th:if="${activeCompetenciesDisciplinesEducationalProgram}">
            <h3>Активная дисциплинаОП</h3>
            <p><strong>ID:</strong> <span th:text="${activeDisciplineEducationalProgram.id}"></span></p>
            <p><strong>Профиль:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.basicEducationalProgram.profile.name}"></span></p>
            <p><strong>Учебный год:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.basicEducationalProgram.academicYear}"></span></p>
            <p><strong>Тип обучения:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.basicEducationalProgram.educationType.name}"></span></p>
            <p><strong>Дисциплина:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.discipline.name}"></span></p>
            <p><strong>Компетенция:</strong> <span th:text="${activeCompetenciesDisciplinesEducationalProgram.disciplineEducationalProgram.discipline.name}"></span></p>
        </div>
    </section>

</div>
<div class="rightbar">
    <a href="/choose-institute" id="menu-institute">Институты
        <span id="institute-chosen" class="institute-status">выбран</span>
    </a>
    <a href="/departments" id="menu-departments" >Кафедры</a>
    <a href="/audiences" id="menu-auditoriums" >Аудитории</a>
    <a href="/tech-support" id="menu-tech-support" >Тех.обеспечение</a>
    <a href="/directions" id="menu-direction" >Направления</a>
    <a href="/profiles" id="menu-profiles" >Профили</a>
    <a href="/bep" id="menu-bep" >ООП</a>
    <a href="/dep" id="menu-dep" >ДисциплиныОП</a>
    <a href="/cdep" id="menu-cdep" >Компетенции дисциплин ОП</a>
    <a href="/education-type" id="menu-education-type" >Типы обучения</a>
    <a href="/employees" id="menu-employees" >Сотрудники</a>
    <a href="/employees-positions" id="menu-employees-positions" >Должности</a>
    <a href="/teachers" id="menu-teachers" >Преподаватели</a>
    <a href="/disciplines" id="menu-disciplines" >Дисциплины</a>
    <a href="/competencies" id="menu-competencies" >Компетенции</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function filterTable(tableId, colIndex) {
        var input, filter, table, tr, td, i, txtValue;
        table = document.getElementById(tableId);
        input = table.querySelectorAll('thead input')[colIndex];
        filter = input.value.toUpperCase();
        tr = table.getElementsByTagName("tr");

        for (i = 2; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[colIndex];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>