<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Компетенции дисциплин ОП</title>
    <link rel="icon" type="image/png" href="/image/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/image/favicon.svg"/>
    <link rel="shortcut icon" href="/image/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/image/apple-touch-icon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .big-option {
            max-width: 30%;
            height: max-content;
            overflow: auto;
        }
    </style>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/entity.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/background-information">Справочная информация</a>
            </li>
        </ul>
    </div>
</nav>
<section class="container">
    <h2>Компетенции дисциплин ОП</h2>
    <div class="container filters">
        <div class="filter-container">
            <label for="filter1">Кафедра:</label>
            <select class="form-control" id="filter1">
            </select>
        </div>
        <div class="filter-container">
            <label for="filter2">Разработчик РП:</label>
                <option value="0">Выберите разработчика</option>
            </select>
        </div>
        <div class="filter-container">
            <label for="filter3">Дисциплина:</label>
                <option value="0">Выберите дисциплину</option>
            <label for="filter3">ООП:</label>
                <option value="0">Выберите ООП</option>
            </select>
        </div>
        <div class="filter-container">
            <label for="filter4">ООП:</label>
                <option value="0">Выберите ООП</option>
            <label for="filter4">Дисциплина:</label>
                <option value="0">Выберите дисциплину</option>
            </select>
        </div>
    </div>
    <div class="scrollable-table">
        <table class="table table-bordered" id="dataTable">
            <thead>
            <tr class="sticky-header">
                <th><input type="text" class="form-control" placeholder="ID"
                           onkeyup="filterTable('dataTable', 0)"></th>
                <th><input type="text" class="form-control" placeholder="Учебный год"
                           onkeyup="filterTable('dataTable', 1)"></th>
                <th><input type="text" class="form-control" placeholder="Профиль"
                           onkeyup="filterTable('dataTable', 2)"></th>
                <th><input type="text" class="form-control" placeholder="Тип обучения"
                           onkeyup="filterTable('dataTable', 3)"></th>
                <th><input type="text" class="form-control" placeholder="Дисциплина"
                           onkeyup="filterTable('dataTable', 4)"></th>
                <th><input type="text" class="form-control" placeholder="Компетенция"
                           onkeyup="filterTable('dataTable', 5)"></th>
            </tr>
            <tr class="sticky-header">
                <th>ID</th>
                <th>Учебный год</th>
                <th>Профиль</th>
                <th>Тип обучения</th>
                <th>Дисциплина</th>
                <th>Компетенция</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="edit-buttons-wrapper no-visible">
        <button class="btn-create button btn btn-primary">Добавить</button>
        <button class="btn-delete button btn btn-primary">Удалить</button>
        <button class="btn-choose button btn btn-primary d-none">Выбрать запись</button>
    </div>
    <div class="active-record">
    </div>
</section>
<div class="rightbar">
    <a href="/departments">Кафедры</a>
    <a href="/audiences">Аудитории</a>
    <a href="/tech-support">Тех. обеспечение</a>
    <a href="/directions">Направления</a>
    <a href="/profiles">Профили</a>
    <a href="/beps">ООП</a>
    <a href="/rpd">РПД</a>
    <a href="/dep">Дисциплины ОП</a>
    <a href="/cdep">Компетенции дисциплин ОП</a>
    <a href="/deps">Дисциплины ОП</a>
    <a href="/cdeps">Компетенции дисциплин ОП</a>
    <a href="/education-types">Типы обучения</a>
    <a href="/employees">Сотрудники</a>
    <a href="/employee-positions">Должности</a>
    <a href="/teachers">Преподаватели</a>
    <a href="/disciplines">Дисциплины</a>
    <a href="/competencies">Компетенции</a>
</div>
<div id="createModal" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h5>Добавить запись</h5>
            <span class="close-btn">&times;</span>
        </div>
        <div class="modal-body createForm">

        </div>
        <div class="modal-footer">
            <button type="button" class="cancel-create-modal btn btn-danger">Отмена</button>
            <button type="button" class="save-modal-record btn btn-success">Сохранить</button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/modalWindow.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let filter1 = document.getElementById('filter1');
        let filter2 = document.getElementById('filter2');
        let filter3 = document.getElementById('filter3');
        let filter4 = document.getElementById('filter4');
        let filter1Global = 0;
        let filter2Global = 0;
        let filter3Global = 0;
        filter2.disabled = true;
        filter3.disabled = true;
        filter4.disabled = true;

        let btnChoose = document.querySelector('.btn-choose')
        btnChoose.addEventListener('click', chooseRecord)

        function chooseRecord() {
            let form = document.querySelector('.active-form')
            if (form) {
                let activeRecordId = form.getAttribute('activeRecordId')
                fetch('/cdep-data-set-active/' + activeRecordId)
                fetch('/api/cdep/set-active/' + activeRecordId)
                    .then(function (data) {
                        showModalWithMessage('Вы выбрали: ' + data.dataName)
                    })
            } else {
                showModalWithMessage('Выберите запись, кликнув по записи из таблицы. Затем нажмите "Выбрать запись".')
            }
        }

        const csrfToken = document.querySelector('input[name="_csrf"]').value;
        let editMode = false;
        let isAdmin = false;

        function removeAllChildElements(parentElement) {
            while (parentElement.firstChild) {
                parentElement.removeChild(parentElement.firstChild);
            }
        }

        function checkAdmin(data) {
            if (data.role === 'administrator') {
                isAdmin = true;
                let buttonsWrapper = document.querySelector('.edit-buttons-wrapper')
                buttonsWrapper.classList.remove('no-visible')
            }
        }

        function renderPage() {
            let createModal = document.getElementById('createModal');
            let cancelCreateModal = document.querySelector('.cancel-create-modal');
            let saveModalRecord = document.querySelector('.save-modal-record');
            saveModalRecord.addEventListener('click', () => saveNewRecord())

            fetch('/cdep-data')
            fetch('/cdeps-data')
                .then(function (data) {
                    checkAdmin(data)
                    let filter1 = document.getElementById('filter1');
                    filter1.innerHTML = '';
                    let option = document.createElement('option');
                    option.textContent = "Выберите кафедру";
                    option.value = "0";
                    filter1.appendChild(option);
                    data.departments.forEach(function (department) {
                        let option = document.createElement('option');
                        option.textContent = department.name;
                        option.value = department.id;
                        filter1.appendChild(option);
                    });
                    renderTable(data.data)
                })
                .catch(function (error) {
                    console.error('Ошибка загрузки данных:', error);
                    alert('Ошибка при загрузке данных');
                });

            let createBtn = document.querySelector('.btn-create')
            createBtn.addEventListener('click', showCreateModal)
            let deleteBtn = document.querySelector('.btn-delete')
            deleteBtn.addEventListener('click', deleteRecord)

            function deleteRecord() {
                let recordElement = document.querySelector('.active-form');
                if (!recordElement) {
                    showModalWithMessage('Для удаления нужно выбрать запись, а потом нажать кнопку удаления.')
                } else {
                    let dataId = recordElement.getAttribute('activeRecordId')
                    if (!dataId) return null;
                    fetch('/api/cdep/delete-record/' + dataId)
                        .then(function (response) {
                            if (!response.ok) {
                                throw new Error('Ошибка HTTP ' + response.status);
                            }
                            return response.json();
                        })
                        .then(deletedRecord => {
                            showModalWithMessage('Запись удалена.')
                            document.querySelector('.active-form').remove()
                            let table = document.getElementById('dataTable');
                            let rows = table.querySelectorAll('tbody tr');

                            rows.forEach(row => {
                                if (row.getAttribute('dataid') == deletedRecord.deletedData) {
                                    row.remove();
                                }
                            });
                        })
                }
            }

            function createTextBoxForCreate(maxLength) {
                let textBox = document.createElement('textarea');
                textBox.textContent = '';
                textBox.classList.add('form-control', 'field', 'textbox');
                textBox.maxLength = maxLength;
                return textBox;
            }

            function createOptionForCreate(text, id) {
                let option = document.createElement('option');
                option.textContent = text;
                option.value = id;
                return option;
            }

            function showCreateModal() {
                fetch('/cdep-data')
                fetch('/cdeps-data')
                    .then(data => {
                        const form = document.querySelector('.createForm')

                        let fieldWrapper = document.createElement('div')
                        fieldWrapper.classList.add('standard__active-record-wrapper')
                        let fieldDesc = document.createElement('p')
                        fieldDesc.classList.add('field__desc')
                        fieldDesc.textContent = `Дисциплина ОП:`
                        fieldWrapper.append(fieldDesc)
                        let fieldSelect = document.createElement('select');
                        fieldSelect.classList.add('form-control', 'field');
                        data.entity4.forEach(function (optionData) {
                        data.deps.forEach(function (optionData) {
                            let text = optionData.basicEducationalProgram.academicYear + ', ' +
                                optionData.basicEducationalProgram.profile.name + ', ' +
                                optionData.basicEducationalProgram.educationType.name + ', ' +
                                optionData.discipline.name;
                            let id = optionData.id;
                            let option = createOptionForCreate(text, id)
                            fieldSelect.append(option);
                        });
                        fieldWrapper.append(fieldSelect)
                        form.append(fieldWrapper)

                        fieldWrapper = document.createElement('div')
                        fieldWrapper.classList.add('standard__active-record-wrapper')
                        fieldDesc = document.createElement('p')
                        fieldDesc.classList.add('field__desc')
                        fieldDesc.textContent = `Компетенция:`
                        fieldWrapper.append(fieldDesc)
                        fieldSelect = document.createElement('select');
                        fieldSelect.classList.add('form-control', 'field');
                        data.entity3.forEach(function (optionData) {
                        data.competencies.forEach(function (optionData) {
                            let text = optionData.code + ' ' + optionData.essence;
                            let id = optionData.id;
                            let option = createOptionForCreate(text, id)
                            fieldSelect.append(option);
                        });
                        fieldWrapper.append(fieldSelect)
                        form.append(fieldWrapper)

                        let closeBtn = document.querySelector('.close-btn');
                        cancelCreateModal.addEventListener('click', () => closeModal(createModal))
                        closeBtn.addEventListener('click', () => closeModal(createModal))
                        createModal.style.display = 'flex';
                    })
                    .catch(error => {
                        console.error('Ошибка загрузки данных:', error);
                        alert('Ошибка при загрузке данных');
                    });
            }
        }

        function saveNewRecord() {
            let activeRecord = document.querySelector('.createForm');
            let fields = activeRecord.querySelectorAll('.field');
            let emptyFields = false;
            let data = {}
            fields.forEach(function (field, index) {
                if (field.value) {
                    data[index] = field.value
                } else {
                    showModalWithMessage('Поля должны быть заполнены.')
                    emptyFields = true
                }
            })
            if (emptyFields) return

            createNewRecord(data)
        }

        function createNewRecord(data) {
            fetch('/api/cdep/save-new-record', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken
                },
                body: JSON.stringify(data)
            })
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('Ошибка HTTP ' + response.status);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        showModalWithMessage(data.error);
                    } else {
                        data = data.createdData
                        let dataTable = document.getElementById('dataTable').getElementsByTagName('tbody')[0];

                        let row = document.createElement('tr');
                        row.setAttribute('dataid', data.id);
                        row.classList.add(`${data.id}`)
                        row.innerHTML =
                            '<td>' + data.id + '</td>' +
                            '<td>' + data.disciplineEducationalProgram.basicEducationalProgram.academicYear + '</td>' +
                            '<td>' + data.disciplineEducationalProgram.basicEducationalProgram.profile.name + '</td>' +
                            '<td>' + data.disciplineEducationalProgram.basicEducationalProgram.educationType.name + '</td>' +
                            '<td>' + data.disciplineEducationalProgram.discipline.name + '</td>' +
                            '<td>' + data.competencie.code + ' ' + data.competencie.essence + '</td>';
                        row.addEventListener('click', function () {
                            changeActiveRowTable(data.id);
                        });

                        dataTable.append(row);
                        closeModal(createModal)
                        showModalWithMessage('Запись создана.')
                        let activeRecord = document.querySelector('.createForm');
                        if (activeRecord) {
                            removeAllChildElements(activeRecord)
                        }
                    }
                })
        }

        renderPage()

        function renderTable(dataList) {
            let dataTable = document.getElementById('dataTable').getElementsByTagName('tbody')[0];
            dataTable.innerHTML = '';
            dataList.forEach(function (data) {
                let row = document.createElement('tr');
                row.setAttribute('dataid', data.id);
                row.classList.add(`${data.id}`)
                row.innerHTML =
                    '<td>' + data.id + '</td>' +
                    '<td>' + data.disciplineEducationalProgram.basicEducationalProgram.academicYear + '</td>' +
                    '<td>' + data.disciplineEducationalProgram.basicEducationalProgram.profile.name + '</td>' +
                    '<td>' + data.disciplineEducationalProgram.basicEducationalProgram.educationType.name + '</td>' +
                    '<td>' + data.disciplineEducationalProgram.discipline.name + '</td>' +
                    '<td>' + data.competencie.code + ' ' + data.competencie.essence + '</td>';
                row.addEventListener('click', function () {
                    changeActiveRowTable(data.id);
                });
                dataTable.appendChild(row);
            });
        }

        function changeActiveRowTable(dataId) {
            fetch('/api/cdep/get-active/' + dataId)
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('Ошибка HTTP ' + response.status);
                    }
                    return response.json();
                })
                .then(function (data) {
                    let activeRecordWrapper = document.querySelector('.active-record');
                    activeRecordWrapper.innerHTML = '';
                    let form = document.createElement('div');
                    form.classList.add('form-table', 'active-form');

                    function createIdFieldForActiveRecord(data) {
                        let fieldOneWrapper = document.createElement('div')
                        fieldOneWrapper.classList.add('standard__active-record-wrapper')
                        let fieldOneDesc = document.createElement('p')
                        fieldOneDesc.classList.add('field__desc')
                        fieldOneDesc.textContent = `ID:`
                        fieldOneWrapper.append(fieldOneDesc)
                        let idField = document.createElement('p');
                        fieldOneWrapper.append(idField)
                        idField.textContent = data.id;
                        return fieldOneWrapper
                    }

                    form.setAttribute('activeRecordId', data.data.id)
                    form.append(createIdFieldForActiveRecord(data.data));

                    let fieldWrapper = document.createElement('div')
                    fieldWrapper.classList.add('standard__active-record-wrapper')
                    let fieldDesc = document.createElement('p')
                    fieldDesc.classList.add('field__desc')
                    fieldDesc.textContent = `Учебный год:`
                    fieldWrapper.append(fieldDesc)
                    fieldWrapper.append(createInactiveTextBox(data.data.disciplineEducationalProgram.basicEducationalProgram.academicYear))
                    form.append(fieldWrapper)

                    fieldWrapper = document.createElement('div')
                    fieldWrapper.classList.add('standard__active-record-wrapper')
                    fieldDesc = document.createElement('p')
                    fieldDesc.classList.add('field__desc')
                    fieldDesc.textContent = `Профиль:`
                    fieldWrapper.append(fieldDesc)
                    fieldWrapper.append(createInactiveTextBox(data.data.disciplineEducationalProgram.basicEducationalProgram.profile.name))
                    form.append(fieldWrapper)

                    fieldWrapper = document.createElement('div')
                    fieldWrapper.classList.add('standard__active-record-wrapper')
                    fieldDesc = document.createElement('p')
                    fieldDesc.classList.add('field__desc')
                    fieldDesc.textContent = `Тип обучения:`
                    fieldWrapper.append(fieldDesc)
                    fieldWrapper.append(createInactiveTextBox(data.data.disciplineEducationalProgram.basicEducationalProgram.educationType.name))
                    form.append(fieldWrapper)

                    fieldWrapper = document.createElement('div')
                    fieldWrapper.classList.add('standard__active-record-wrapper')
                    fieldDesc = document.createElement('p')
                    fieldDesc.classList.add('field__desc')
                    fieldDesc.textContent = `Дисциплина:`
                    fieldWrapper.append(fieldDesc)
                    fieldWrapper.append(createInactiveTextBox(data.data.disciplineEducationalProgram.discipline.name))
                    form.append(fieldWrapper)

                    fieldWrapper = document.createElement('div')
                    fieldWrapper.classList.add('standard__active-record-wrapper')
                    fieldDesc = document.createElement('p')
                    fieldDesc.classList.add('field__desc')
                    fieldDesc.textContent = `Компетенция:`
                    fieldWrapper.append(fieldDesc)
                    fieldWrapper.append(createInactiveTextBox(data.data.competencie.code + ' ' + data.data.competencie.essence))
                    form.append(fieldWrapper)

                    // Конец добавления в активную запись
                    // Добавляем форму в контейнер
                    activeRecordWrapper.appendChild(form);
                    // Показываем контейнер
                    activeRecordWrapper.style.display = 'block';

                    if (editMode && isAdmin) {
                        let activeRecord = document.querySelector('.active-record');
                        let fields = activeRecord.querySelectorAll('.field');

                        fields.forEach(function (field) {
                            field.disabled = true;
                            field.readOnly = true;
                        });
                    }

                    function createTextBoxForActiveRecord(text, maxLength) {
                        let textBox = document.createElement('textarea');
                        textBox.textContent = text;
                        textBox.maxLength = maxLength;
                        textBox.readOnly = !editMode;
                        textBox.classList.add('form-control', 'field', 'textbox');
                        return textBox;
                    }

                    function createInactiveTextBox(text) {
                        let textBox = document.createElement('p');
                        textBox.textContent = text;
                        return textBox;
                    }

                    function createOptionForActiveRecord(text, id, parentDataId) {
                        let option = document.createElement('option');
                        option.textContent = text;
                        option.value = id;
                        if (id == parentDataId) {
                            option.selected = true;
                        }
                        return option;
                    }
                })
                .catch(function (error) {
                    console.error('Ошибка загрузки данных:', error);
                    alert('Ошибка при загрузке данных');
                });
        }

        function closeModal(modal) {
            let form = document.querySelector('.createForm')
            removeAllChildElements(form)
            modal.style.display = 'none';
        }

        filter1.addEventListener('change', function () {
            let filter1Id = this.value;
            filter1Global = filter1Id;

            // Заблокировать списки, пока не придет ответ
            filter2.disabled = true;
            filter3.disabled = true;
            filter4.disabled = true;

            fetch('/api/cdep/department-filter/' + filter1Id)
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('Ошибка HTTP ' + response.status);
                    }
                    return response.json();
                })
                .then(function (data) {
                    let filter2 = document.getElementById('filter2');
                    filter2.innerHTML = '';
                    let option = document.createElement('option');
                    option.textContent = "Выберите разработчика";
                    option.value = "0";
                    filterElement.appendChild(option);
                    filter2.appendChild(option);
                    data.filterList.forEach(function (entity) {
                        let option = document.createElement('option');
                        option.classList.add('big-option')
                        option.textContent = entity.employee.nameTypeOne;
                        option.value = entity.id;
                        filter2.appendChild(option);
                    });
                    renderTable(data.entityList)
                    // Разблокировать, если данные успешно загружены
                    if (filter1Id == 0) {
                        filter2.disabled = true;
                        filter3.disabled = true;
                        filter4.disabled = true;
                    } else {
                        filter2.disabled = false;
                    }
                })
                .catch(function (error) {
                    console.error('Ошибка загрузки данных:', error);
                    alert('Ошибка при загрузке данных');
                });
        });

        filter2.addEventListener('change', function () {
            let filter2Id = this.value;
            filter2Global = filter2Id;

            // Заблокировать списки, пока не придет ответ
            filter3.disabled = true;
            filter4.disabled = true;

            fetch('/api/cdep/direction-filter/' + filter1Global + '/' + filter2Id)
            fetch('/api/cdep/developer-filter/' + filter1Global + '/' + filter2Id)
                .then(function (data) {
                    let filter3 = document.getElementById('filter3');
                    filter3.innerHTML = '';
                    let option = document.createElement('option');
                    option.textContent = "Выберите ООП";
                    option.value = "0";
                    filterElement.appendChild(option);
                    filter3.appendChild(option);
                    data.filterList.forEach(function (entity) {
                        let option = document.createElement('option');
                        option.textContent = `${entity.academicYear}, ${entity.profile.name}, ${entity.educationType.name}`;
                        option.value = entity.id;
                        filter3.appendChild(option);
                    });
                    renderTable(data.entityList)
                    // Разблокировать, если данные успешно загружены
                    if (filter2Id == 0) {
                        filter3.disabled = true;
                        filter4.disabled = true;
                    } else {
                        filter3.disabled = false;
                    }
                })
                .catch(function (error) {
                    console.error('Ошибка загрузки данных:', error);
                    alert('Ошибка при загрузке данных');
                });
        });

        filter3.addEventListener('change', function () {
            let filter3Id = this.value;
            filter3Global = filter3Id

            fetch('/api/cdep/discipline-filter/' + filter1Global + '/' + filter2Global + '/' + filter3Id)
            // Заблокировать списки, пока не придет ответ
            filter4.disabled = true;

            fetch('/api/cdep/oop-filter/' + filter1Global + '/' + filter2Global + '/' + filter3Id)
                .then(function (data) {
                    let filter4 = document.getElementById('filter4');
                    filter4.innerHTML = '';
                    let option = document.createElement('option');
                    option.textContent = "Выберите дисциплину";
                    option.value = "0";
                    filterElement.appendChild(option);
                    filter4.appendChild(option);
                    data.filterList.forEach(function (entity) {
                        let option = document.createElement('option');
                        option.textContent = entity.name;
                        option.value = entity.id;
                        filter4.appendChild(option);
                    });
                    renderTable(data.entityList)
                    // Разблокировать, если данные успешно загружены
                    if (filter3Id == 0) {
                        filter4.disabled = true;
                    } else {
                        filter4.disabled = false;
                    }
                })
                .catch(function (error) {
                    console.error('Ошибка загрузки данных:', error);
                    alert('Ошибка при загрузке данных');
                });
        });

        filter4.addEventListener('change', function () {
            let filter4Id = this.value;

            fetch('/api/cdep/oop-filter/' + filter1Global + '/' + filter2Global + '/' + filter3Global + '/' + filter4Id)
            fetch('/api/cdep/discipline-filter/' + filter1Global + '/' + filter2Global + '/' + filter3Global + '/' + filter4Id)
                .then(function (data) {
                    renderTable(data.entityList)
                })
                .catch(function (error) {
                    console.error('Ошибка загрузки данных:', error);
                    alert('Ошибка при загрузке данных');
                });
        });
    });
</script>
<script src="/js/filterTable.js"></script>
</body>
</html>