<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>departments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        * {
            box-sizing: border-box;
        }

        .textbox {
            min-width: 100px;
            height: auto;
            max-height: 70px;
            overflow-y: auto;
        }

        .field__desc {
            width: 40%;
            min-width: min-content;
        }

        textarea {
            width: 60%;
            max-width: max-content;
        }

        p {
            margin: 0;
            width: max-content;
            max-width: 100px;
        }

        .scrollable-table {
            border: 1px solid #dee2e6;
        }

        .edit-buttons-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            max-width: max-content;
            margin: 20px auto;
        }

        .btn-cancel {
            margin-left: 20px;
        }

        /*.active-select {*/
        /*    width: max-content;*/
        /*    height: max-content;*/
        /*    padding: 10px;*/
        /*}*/

        .scrollable-table {
            max-height: 50vh;
            overflow-y: auto;
            position: relative;
        }

        .sticky-header {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 10;
        }

        .active-record {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
        }

        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }

        table:hover {
            cursor: pointer;
        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            width: 500px;
            max-width: 90%;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }

        .standard__active-record-wrapper {
            display: flex;
            margin: 10px 0;
            width: 100%;
            gap: 15px;
            align-items: center;
        }

        .close-btn {
            cursor: pointer;
            font-size: 1.5em;
        }

        .modal-body {
            margin-top: 20px;
        }

        .no-visible {
            display: none;
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
            border-top: 1px solid #ccc;
            padding-top: 10px;
            margin-top: 20px;
        }

        .form-control {
            width: max-content !important;
            max-width: 100%;
        }
    </style>
    <link rel="stylesheet" href="/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body class="body-wrapper">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/institutes">Выбор института</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/background-information">Справочная информация</a>
            </li>
        </ul>
    </div>
</nav>
<section class="container">
    <h2>Кафедры:</h2>
    <div class="scrollable-table">
        <table class="table table-bordered" id="dataTable">
            <thead>
            <tr class="sticky-header">
                <th><input type="text" class="form-control" placeholder="ID"
                           onkeyup="filterTable('dataTable', 0)"></th>
                <th><input type="text" class="form-control" placeholder="Код"
                           onkeyup="filterTable('dataTable', 1)"></th>
                <th><input type="text" class="form-control" placeholder="Название"
                           onkeyup="filterTable('dataTable', 2)"></th>
                <th><input type="text" class="form-control" placeholder="Аббревиатура"
                           onkeyup="filterTable('dataTable', 3)"></th>
                <th><input type="text" class="form-control" placeholder="Институт"
                           onkeyup="filterTable('dataTable', 4)"></th>
                <th><input type="text" class="form-control" placeholder="Заведующий"
                           onkeyup="filterTable('dataTable', 5)"></th>
            </tr>
            <tr class="sticky-header">
                <th>ID</th>
                <th>Код</th>
                <th>Название</th>
                <th>Аббревиатура</th>
                <th>Институт</th>
                <th>Заведующий</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="edit-buttons-wrapper no-visible">
        <button class="button-edit btn-edit button btn btn-primary">Редактировать</button>
        <button class="btn-create button btn btn-primary">Добавить</button>
        <button class="btn-delete button btn btn-primary">Удалить</button>
        <button class="btn-choose button btn btn-primary">Выбрать кафедру</button>
    </div>
    <div class="active-record">
    </div>
</section>
<div class="rightbar">
    <a href="/institutes" id="menu-institute">Институты
        <span id="institute-chosen" class="institute-status">выбран</span>
    </a>
    <a href="/departments" id="menu-departments">Кафедры</a>
    <a href="/audiences" id="menu-auditoriums">Аудитории</a>
    <a href="/tech-support" id="menu-tech-support">Тех.обеспечение</a>
    <a href="/directions" id="menu-direction">Направления</a>
    <a href="/profiles" id="menu-profiles">Профили</a>
    <a href="/bep" id="menu-bep">ООП</a>
    <a href="/files-rpd" class="link-rightbar">РПД</a>
    <a href="/dep" id="menu-dep">ДисциплиныОП</a>
    <a href="/cdep" id="menu-cdep">Компетенции дисциплин ОП</a>
    <a href="/education-type" id="menu-education-type">Типы обучения</a>
    <a href="/employees" id="menu-employees">Сотрудники</a>
    <a href="/employees-positions" id="menu-employees-positions">Должности</a>
    <a href="/teachers" id="menu-teachers">Преподаватели</a>
    <a href="/disciplines" id="menu-disciplines">Дисциплины</a>
    <a href="/competencies" id="menu-competencies">Компетенции</a>
</div>
<div id="createModal" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h5>Добавить запись</h5>
            <span class="close-btn">&times;</span>
        </div>
        <div class="modal-body createForm">

        </div>
        <div class="modal-footer">
            <button type="button" class="cancel-create-modal btn btn-danger">Отмена</button>
            <button type="button" class="save-modal-record btn btn-success">Сохранить</button>
        </div>
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/modalWindow.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let btnChoose = document.querySelector('.btn-choose')
        btnChoose.addEventListener('click', chooseRecord)

        function chooseRecord() {
            let form = document.querySelector('.active-form')
            if (form) {
                let activeRecordId = form.getAttribute('activerecordid')
                fetch('/departments-data-set-active/' + activeRecordId)
                    .then(function (response) {
                        if (!response.ok) {
                            throw new Error('Ошибка HTTP ' + response.status);
                        }
                        return response.json();
                    })
                    .then(function (data) {
                        showModalWithMessage('Вы выбрали кафедру: ' + data.dataName)
                    })
            } else {
                showModalWithMessage('Выберите запись, кликнув по записи из таблицы. Затем нажмите "выбрать кафедру".')
            }
        }

        let editMode = false;
        let isAdmin = false;

        function removeAllChildElements(parentElement) {
            while (parentElement.firstChild) {
                parentElement.removeChild(parentElement.firstChild);
            }
        }

        function checkAdmin(data) {
            if (data.role === 'administrator') {
                isAdmin = true;
                let buttonsWrapper = document.querySelector('.edit-buttons-wrapper')
                buttonsWrapper.classList.remove('no-visible')
            }
        }

        function renderPage() {
            document.querySelector('.button-edit').disabled = true;
            let createModal = document.getElementById('createModal');
            let cancelCreateModal = document.querySelector('.cancel-create-modal');
            let saveModalRecord = document.querySelector('.save-modal-record');
            saveModalRecord.addEventListener('click', () => saveNewRecord())

            fetch('/departments-data')
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('Ошибка HTTP ' + response.status);
                    }
                    return response.json();
                })
                .then(function (data) {
                    checkAdmin(data)
                    renderTable(data.data)
                })
                .catch(function (error) {
                    console.error('Ошибка загрузки данных:', error);
                    alert('Ошибка при загрузке данных');
                });

            let buttonEdit = document.querySelector('.button-edit');
            buttonEdit.addEventListener('click', editActive)

            function editActive() {
                editMode = true;
                let activeRecord = document.querySelector('.active-record');
                let fields = activeRecord.querySelectorAll('.field');

                fields.forEach(function (field) {
                    field.disabled = false;
                    field.readOnly = false;
                });

                activeFieldsChange()

                function activeFieldsChange() {
                    let form = document.querySelector('.active-form')
                    let btnSuccess = document.createElement('button');
                    btnSuccess.classList.add('btn-success', 'button', 'btn', 'button-success')
                    btnSuccess.textContent = 'Подтвердить'
                    btnSuccess.addEventListener('click', updateRecord)
                    form.appendChild(btnSuccess);

                    let btnCansel = document.createElement('button');
                    btnCansel.classList.add('btn-cancel', 'button', 'btn', 'btn-danger')
                    btnCansel.textContent = 'Отменить'
                    btnCansel.addEventListener('click', cancelUpdate)
                    form.appendChild(btnCansel);
                }

                function cancelUpdate() {
                    let dataId = document.querySelector('.active-form').getAttribute('activerecordid')
                    changeActiveRowTable(dataId)
                }
            }

            let createBtn = document.querySelector('.btn-create')
            createBtn.addEventListener('click', showCreateModal)
            let deleteBtn = document.querySelector('.btn-delete')
            deleteBtn.addEventListener('click', deleteRecord)

            function deleteRecord() {
                let recordElement = document.querySelector('.active-form');
                if (!recordElement) {
                    showModalWithMessage('Для удаления нужно выбрать запись, а потом нажать кнопку удаления.', document);
                } else {
                    let dataId = recordElement.getAttribute('activerecordid')
                    if (!dataId) return null;
                    fetch('/api/department-support/delete-record/' + dataId)
                        .then(function (response) {
                            if (!response.ok) {
                                throw new Error('Ошибка HTTP ' + response.status);
                            }
                            return response.json();
                        })
                        .then(deletedRecord => {
                            showModalWithMessage('Запись удалена.', document);
                            setTimeout(() => {
                                document.getElementById('successModal').remove();
                                document.querySelector('.modal-backdrop').remove();
                            }, 2000)
                            document.querySelector('.active-form').remove()

                            let table = document.getElementById('dataTable');
                            let rows = table.querySelectorAll('tbody tr');

                            rows.forEach(row => {
                                if (row.getAttribute('dataid') == deletedRecord.deletedData) {
                                    row.remove();
                                }
                            });
                        })
                }
            }

            function createTextBoxForCreate() {
                let textBox = document.createElement('textarea');
                textBox.textContent = '';
                textBox.classList.add('form-control', 'field', 'textbox');
                return textBox;
            }

            function createOptionForCreate(text, id) {
                let option = document.createElement('option');
                option.textContent = text;
                option.value = id;
                return option;
            }

            function showCreateModal() {
                fetch('/departments-data')
                    .then(function (response) {
                        if (!response.ok) {
                            throw new Error('Ошибка HTTP ' + response.status);
                        }
                        return response.json();
                    })
                    .then(data => {
                        const form = document.querySelector('.createForm')

                        //field2=======================================================
                        let fieldTwoWrapper = document.createElement('div')
                        fieldTwoWrapper.classList.add('standard__active-record-wrapper')
                        let fieldTwoDesc = document.createElement('p')
                        fieldTwoDesc.classList.add('field__desc')
                        fieldTwoDesc.textContent = `Код:`
                        fieldTwoWrapper.append(fieldTwoDesc)
                        fieldTwoWrapper.appendChild(createTextBoxForCreate())
                        form.appendChild(fieldTwoWrapper);

                        //field3=======================================================
                        //Выпадающий список кафедр
                        let fieldThreeWrapper = document.createElement('div')
                        fieldThreeWrapper.classList.add('standard__active-record-wrapper')
                        let fieldThreeDesc = document.createElement('p')
                        fieldThreeDesc.classList.add('field__desc')
                        fieldThreeDesc.textContent = `Кафедра:`
                        fieldThreeWrapper.append(fieldThreeDesc)
                        fieldThreeWrapper.append(createTextBoxForCreate())
                        form.append(fieldThreeWrapper)
                        console.log('1')
                        //field4======================аббревиатура=====================
                        let fieldFourWrapper = document.createElement('div')
                        fieldFourWrapper.classList.add('standard__active-record-wrapper')
                        let fieldFourDesc = document.createElement('p')
                        fieldFourDesc.classList.add('field__desc')
                        fieldFourDesc.textContent = `Аббревиатура:`
                        fieldFourWrapper.append(fieldFourDesc)
                        fieldFourWrapper.appendChild(createTextBoxForCreate())
                        form.appendChild(fieldFourWrapper);
                        //field5======================институт=========================
                        let fieldFiveWrapper = document.createElement('div')
                        fieldFiveWrapper.classList.add('standard__active-record-wrapper')
                        let fieldFiveDesc = document.createElement('p')
                        fieldFiveDesc.classList.add('field__desc')
                        fieldFiveDesc.textContent = `Институт:`
                        fieldFiveWrapper.append(fieldFiveDesc)
                        //создаем селект
                        let institutSelect = document.createElement('select');
                        institutSelect.classList.add('form-control', 'field');
                        institutSelect.classList.add('form-control')
                        institutSelect.id = 'institute';
                        data.institutes.forEach(function (optionData) {
                            let text = optionData.name;
                            let id = optionData.id;
                            let option = createOptionForCreate(text, id)
                            institutSelect.appendChild(option);
                        });
                        fieldFiveWrapper.append(institutSelect)
                        form.append(fieldFiveWrapper)
                        console.log('3')
                        //field6======================преподаватель=========================
                        let fieldSixWrapper = document.createElement('div')
                        fieldSixWrapper.classList.add('standard__active-record-wrapper')
                        let fieldSixDesc = document.createElement('p')
                        fieldSixDesc.classList.add('field__desc')
                        fieldSixDesc.textContent = `Сотрудник:`
                        fieldSixWrapper.append(fieldSixDesc)
                        //создаем селект
                        let teacherSelect = document.createElement('select');
                        teacherSelect.id = 'teacher';
                        teacherSelect.classList.add('form-control', 'field')
                        data.employees.forEach(function (optionData) {
                            let text = optionData.nameTypeOne;
                            let id = optionData.id;
                            let option = createOptionForCreate(text, id)
                            teacherSelect.appendChild(option);
                        });
                        fieldSixWrapper.append(teacherSelect)
                        form.append(fieldSixWrapper)

                        let closeBtn = document.querySelector('.close-btn');
                        cancelCreateModal.addEventListener('click', () => closeModal(createModal))
                        closeBtn.addEventListener('click', () => closeModal(createModal))
                        createModal.style.display = 'flex';
                    })
                    .catch(error => {
                        console.error('Ошибка загрузки данных:', error);
                        alert('Ошибка при загрузке данных');
                    });
            }
        }

        function saveNewRecord() {
            let activeRecord = document.querySelector('.createForm');
            let fields = activeRecord.querySelectorAll('.field');
            let emptyFields = false;
            let query = '/api/department-support/save-new-record'
            fields.forEach(function (field) {
                if (field.value) {
                    query += '/' + field.value;
                } else {
                    showModalWithMessage('Поля должны быть заполнены.', document)
                    emptyFields = true
                }
            })
            if (emptyFields) return

            createNewRecord(query)
        }

        function createNewRecord(path) {
            fetch(path)
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('Ошибка HTTP ' + response.status);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        showModalWithMessage(data.error, document);
                    } else {
                        data = data.createdData
                        let dataTable = document.getElementById('dataTable').getElementsByTagName('tbody')[0];

                        let row = document.createElement('tr');
                        row.setAttribute('dataId', data.id);
                        row.classList.add(`${data.id}`)

                        row.innerHTML =
                            '<td>' + data.id + '</td>' +
                            '<td>' + data.code + '</td>' +
                            '<td>' + data.name + '</td>' +
                            '<td>' + data.abbreviation + '</td>' +
                            '<td>' + data.institute.name + '</td>' +
                            '<td>' + data.manager.nameTypeOne + '</td>';

                        row.addEventListener('click', function () {
                            changeActiveRowTable(data.id);
                        });

                        dataTable.append(row);
                        closeModal(createModal)
                        showModalWithMessage('Запись создана.', document)
                        let activeRecord = document.querySelector('.createForm');
                        removeAllChildElements(activeRecord)
                    }
                })
        }

        renderPage()

        function renderTable(dataList) {
            let dataTable = document.getElementById('dataTable').getElementsByTagName('tbody')[0];
            dataTable.innerHTML = '';

            dataList.forEach(function (data) {
                let row = document.createElement('tr');

                row.setAttribute('dataId', data.id);
                row.classList.add(`${data.id}`)

                row.innerHTML =
                    '<td>' + data.id + '</td>' +
                    '<td>' + data.code + '</td>' +
                    '<td>' + data.name + '</td>' +
                    '<td>' + data.abbreviation + '</td>' +
                    '<td>' + data.institute.name + '</td>' +
                    '<td>' + data.manager.nameTypeOne + '</td>';
                row.addEventListener('click', function () {
                    changeActiveRowTable(data.id);
                });

                dataTable.appendChild(row);
            });
        }

        function changeActiveRowTable(dataId) {
            fetch('/api/departments/get-active/' + dataId)
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('Ошибка HTTP ' + response.status);
                    }
                    return response.json();
                })
                .then(function (data) {
                    document.querySelector('.button-edit').disabled = false;
                    let activeRecordWrapper = document.querySelector('.active-record');
                    activeRecordWrapper.innerHTML = '';
                    let form = document.createElement('div');
                    form.classList.add('form-table', 'active-form');

                    //field1=======================================================
                    function createIdFieldForActiveRecord(data) {
                        let fieldOneWrapper = document.createElement('div')
                        fieldOneWrapper.classList.add('standard__active-record-wrapper')
                        let fieldOneDesc = document.createElement('p')
                        fieldOneDesc.classList.add('field__desc')
                        fieldOneDesc.textContent = `ID:`
                        fieldOneWrapper.append(fieldOneDesc)
                        let idField = document.createElement('p');
                        fieldOneWrapper.append(idField)
                        idField.textContent = data.id;
                        return fieldOneWrapper
                    }

                    form.setAttribute('activeRecordId', data.data.id)
                    form.appendChild(createIdFieldForActiveRecord(data.data));

                    //field2=======================================================
                    let fieldTwoWrapper = document.createElement('div')
                    fieldTwoWrapper.classList.add('standard__active-record-wrapper')
                    let fieldTwoDesc = document.createElement('p')
                    fieldTwoDesc.classList.add('field__desc')
                    fieldTwoDesc.textContent = `Код:`
                    fieldTwoWrapper.append(fieldTwoDesc)
                    fieldTwoWrapper.appendChild(createTextBoxForActiveRecord(data.data.code, 'code'));
                    form.appendChild(fieldTwoWrapper);

                    //field3=======================================================
                    //Выпадающий список кафедр
                    let fieldThreeWrapper = document.createElement('div')
                    fieldThreeWrapper.classList.add('standard__active-record-wrapper')
                    let fieldThreeDesc = document.createElement('p')
                    fieldThreeDesc.classList.add('field__desc')
                    fieldThreeDesc.textContent = `Кафедра:`
                    fieldThreeWrapper.append(fieldThreeDesc)
                    fieldThreeWrapper.append(createTextBoxForActiveRecord(data.data.name, 'name'))
                    form.append(fieldThreeWrapper)

                    //field4======================аббревиатура=====================
                    let fieldFourWrapper = document.createElement('div')
                    fieldFourWrapper.classList.add('standard__active-record-wrapper')
                    let fieldFourDesc = document.createElement('p')
                    fieldFourDesc.classList.add('field__desc')
                    fieldFourDesc.textContent = `Аббревиатура:`
                    fieldFourWrapper.append(fieldFourDesc)
                    fieldFourWrapper.appendChild(createTextBoxForActiveRecord(data.data.abbreviation, 'abbreviation'));
                    form.appendChild(fieldFourWrapper);

                    //field5======================институт=========================
                    let fieldFiveWrapper = document.createElement('div')
                    fieldFiveWrapper.classList.add('standard__active-record-wrapper')
                    let fieldFiveDesc = document.createElement('p')
                    fieldFiveDesc.classList.add('field__desc')
                    fieldFiveDesc.textContent = `Институт:`
                    fieldFiveWrapper.append(fieldFiveDesc)
                    //создаем селект
                    let institutSelect = document.createElement('select');
                    institutSelect.classList.add('form-control', 'field');
                    institutSelect.classList.add('form-control')
                    institutSelect.id = 'institute';
                    data.instituteList.forEach(function (optionData) {
                        if (data.data.institute.id == optionData.id) {
                            let text = optionData.name;
                            let id = optionData.id;
                            let parentDataId = data.data.institute.id
                            let option = createOptionForActiveRecord(text, id, parentDataId)

                            institutSelect.appendChild(option);
                        }
                    });
                    // audienceSelect.disabled = true
                    institutSelect.disabled = !editMode;
                    // institutSelect.addEventListener('change', activeFieldsChange);
                    fieldFiveWrapper.append(institutSelect)
                    form.append(fieldFiveWrapper)

                    //field6======================преподаватель=========================
                    let fieldSixWrapper = document.createElement('div')
                    fieldSixWrapper.classList.add('standard__active-record-wrapper')
                    let fieldSixDesc = document.createElement('p')
                    fieldSixDesc.classList.add('field__desc')
                    fieldSixDesc.textContent = `Сотрудник:`
                    fieldSixWrapper.append(fieldSixDesc)
                    //создаем селект
                    let teacherSelect = document.createElement('select');
                    teacherSelect.id = 'teacher';
                    teacherSelect.classList.add('form-control', 'field')
                    data.teacherList.forEach(function (optionData) {
                        let text = optionData.nameTypeOne;
                        let id = optionData.id;
                        let parentDataId = data.data.manager.id
                        let option = createOptionForActiveRecord(text, id, parentDataId)

                        teacherSelect.appendChild(option);
                    });
                    // audienceSelect.disabled = true
                    teacherSelect.disabled = !editMode;
                    // teacherSelect.addEventListener('change', activeFieldsChange);
                    fieldSixWrapper.append(teacherSelect)
                    form.append(fieldSixWrapper)


                    //конец добавления в активную запись
                    // Добавляем форму в контейнер
                    activeRecordWrapper.appendChild(form);
                    // Показываем контейнер
                    activeRecordWrapper.style.display = 'block';

                    if (editMode && isAdmin) {
                        let activeRecord = document.querySelector('.active-record');
                        let fields = activeRecord.querySelectorAll('.field');

                        fields.forEach(function (field) {
                            field.disabled = true;
                            field.readOnly = true;
                        });
                    }

                    function createTextBoxForActiveRecord(text, id) {
                        let textBox = document.createElement('textarea');
                        textBox.textContent = text;
                        textBox.id = id;
                        textBox.readOnly = !editMode;
                        textBox.classList.add('form-control', 'field', 'textbox');
                        return textBox;
                    }

                    function createOptionForActiveRecord(text, id, parentDataId) {
                        let option = document.createElement('option');
                        option.textContent = text;
                        option.value = id;
                        if (id === parentDataId) {
                            option.selected = true;
                        }
                        return option;
                    }
                })
                .catch(function (error) {
                    console.error('Ошибка загрузки данных:', error);
                    alert('Ошибка при загрузке данных');
                });
        }

        function updateRecord() {
            let activeRecord = document.querySelector('.active-record');
            let fields = activeRecord.querySelectorAll('.field');
            let emptyFields = false;
            let dataId = document.querySelector('.active-form').getAttribute('activerecordid')

            let query = '/api/department-support/update/' + dataId
            fields.forEach(function (field) {
                if (field.value) {
                    query += '/' + field.value;
                } else {
                    changeActiveRowTable(dataId)
                    showModalWithMessage('Поля должны быть заполнены.', document)
                    emptyFields = true
                }
            });
            if (emptyFields) return
            fetch(query)
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('Ошибка HTTP ' + response.status);
                    }
                    return response.json();
                })
                .then(function (newRecord) {
                    if (newRecord.error) {
                        showModalWithMessage(newRecord.error, document)
                        emptyFields = true
                    } else {
                        let table = document.getElementById('dataTable');
                        let rows = table.getElementsByTagName('tr');
                        // Найти строку с нужным dataId и обновить ее содержимое
                        for (let i = 0; i < rows.length; i++) {
                            if (rows[i].getAttribute('dataid') == newRecord.updatedData.id) {
                                rows[i].innerHTML =
                                    '<td>' + newRecord.updatedData.id + '</td>' +
                                    '<td>' + newRecord.updatedData.code + '</td>' +
                                    '<td>' + newRecord.updatedData.name + '</td>' +
                                    '<td>' + newRecord.updatedData.abbreviation + '</td>' +
                                    '<td>' + newRecord.updatedData.institute.name + '</td>' +
                                    '<td>' + newRecord.updatedData.manager.nameTypeOne + '</td>';
                                break;
                            }
                        }
                        changeActiveRowTable(newRecord.updatedData.id)
                        // модальное окно
                        showModalWithMessage('Запись обновлена.', document)
                    }
                })
                .catch(function (error) {
                    console.error('Ошибка обновления данных:', error);
                    alert('Ошибка при обновлении данных');
                });
        }

        function closeModal(modal) {
            let form = document.querySelector('.createForm')
            removeAllChildElements(form)
            modal.style.display = 'none';
        }
    });
</script>
<script>
    function filterTable(tableId, colIndex) {
        var input, filter, table, tr, td, i, txtValue;
        table = document.getElementById(tableId);
        input = table.querySelectorAll('thead input')[colIndex];
        filter = input.value.toUpperCase();
        tr = table.getElementsByTagName("tr");

        for (i = 2; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[colIndex];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</html>