<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" href="/image/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/image/favicon.svg"/>
    <link rel="shortcut icon" href="/image/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/image/apple-touch-icon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <style>
        .form-control {
            width: max-content;
            max-width: 350px;
        }

        .filter-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/background-information">Справочная информация</a>
            </li>
            <li class="nav-item-role">
                <div th:if="${isAdmin}" class="nav-item">
                    <p class="nav-link">Вы администратор</p>
                </div>
                <div th:unless="${isAdmin}" class="nav-item">
                    <p class="nav-link">Вы обычный пользователь</p>
                </div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="nav-link btn btn-link" style="padding: 0;">Выйти</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <ul class="required-entities__wrapper">
        <li class="required-entities__item">
            <p class="required-entities__name">ООП:</p>
            <span class="required-entities__status"></span>
        </li>
    </ul>
    <div class="filter-container">
        <label for="filter1"></label>
        <select class="form-control" id="filter1">
        </select>
    </div>
</div>
<div class="rightbar">
    <a href="/departments">Кафедры</a>
    <a href="/audiences">Аудитории</a>
    <a href="/tech-support">Тех. обеспечение</a>
    <a href="/directions">Направления</a>
    <a href="/profiles">Профили</a>
    <a href="/bep">ООП</a>
    <a href="/rpd">РПД</a>
    <a href="/dep">Дисциплины ОП</a>
    <a href="/cdep">Компетенции дисциплин ОП</a>
    <a href="/education-types">Типы обучения</a>
    <a href="/employees">Сотрудники</a>
    <a href="/employee-positions">Должности</a>
    <a href="/teachers">Преподаватели</a>
    <a href="/disciplines">Дисциплины</a>
    <a href="/competencies">Компетенции</a>
</div>
<div id="createModal" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h5>Добавить запись</h5>
            <span class="close-btn">&times;</span>
        </div>
        <div class="modal-body createForm">

        </div>
        <div class="modal-footer">
            <button type="button" class="cancel-create-modal btn btn-danger">Отмена</button>
            <button type="button" class="save-modal-record btn btn-success">Сохранить</button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/modalWindow.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let filter1 = document.getElementById('filter1');
        let disciplinesOPList = [];
        const csrfToken = document.querySelector('input[name="_csrf"]').value;
        const container = document.querySelector('.container');

        const status = document.querySelector('.required-entities__status')

        let oopId = 0;
        let isAdmin = false;

        let dateProtocol = 0;
        let numberProtocol = 0;

        function renderPage() {
            fetch('/home-data')
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('Ошибка HTTP ' + response.status);
                    }
                    return response.json();
                })
                .then(function (data) {
                    checkAdmin(data)
                    if (data.oopId) {
                        oopId = data.oopId
                        status.textContent = "выбрана"
                        status.classList.add("yes-status")
                    } else {
                        status.textContent = "не выбрана"
                        status.classList.add("no-status")
                    }
                    const title = document.createElement('h2');
                    title.textContent = "Список дисциплин ОП для генерации РПД:";
                    title.style.textAlign = "center"
                    container.appendChild(title);
                    let disciplinesList = document.createElement('ul')
                    disciplinesList.classList.add('disciplines-list-container')
                    if (!data.disciplinesOP) {
                        const title = document.createElement('h3');
                        title.textContent = "Нужно выбрать ООП";
                        title.classList.add('message-type')
                        const messageWrapper = document.createElement('div')
                        messageWrapper.classList.add('message-wrapper')
                        messageWrapper.appendChild(title);

                        const link = document.createElement('a')
                        link.href = '/bep'
                        link.textContent = 'Выбрать'
                        link.classList.add('link')
                        messageWrapper.append(link)
                        container.append(messageWrapper)
                    } else {
                        let filter1 = document.getElementById('filter1');
                        filter1.innerHTML = '';
                        let option = document.createElement('option');
                        option.classList.add('choose-developer')
                        option.textContent = "Выберите разработчика";
                        option.value = "0";
                        filter1.appendChild(option);
                        data.teachers.forEach(function (teacher) {
                            let option = document.createElement('option');
                            option.textContent = `${teacher.employee.nameTypeOne}`;
                            option.value = teacher.id;
                            filter1.appendChild(option);
                        });

                        data.disciplinesOP.forEach(el => {
                            let li = document.createElement('li');
                            li.classList.add('discipline-op-element')
                            li.setAttribute('disciplineopid', el.id)
                            const disciplineName = document.createElement('p')
                            disciplineName.textContent = el.discipline.name + '. Индекс: ' + el.discipline.index;
                            li.appendChild(disciplineName)
                            const btnDeleteDiscipline = document.createElement('button')
                            btnDeleteDiscipline.textContent = "Не включать в генерацию"
                            btnDeleteDiscipline.classList.add('btn-danger', 'btn')
                            li.append(btnDeleteDiscipline)

                            btnDeleteDiscipline.addEventListener('click', () => deleteDisciplineFromGenerate(el.id, li))

                            disciplinesOPList.push(el.id)
                            disciplinesList.appendChild(li)
                        })
                        const numberProtocolInput = document.createElement('input')
                        numberProtocolInput.placeholder = "Номер протокола"
                        numberProtocolInput.classList.add('form-control', 'number-protocol-input')
                        disciplinesList.appendChild(numberProtocolInput)

                        numberProtocolInput.addEventListener('change', function (e) {
                            numberProtocol = e.target.value
                        })

                        const dateProtocolInput = document.createElement('input')
                        dateProtocolInput.placeholder = "Дата протокола"
                        dateProtocolInput.classList.add('form-control', 'date-input')
                        disciplinesList.appendChild(dateProtocolInput)

                        dateProtocolInput.addEventListener('change', function (e) {
                            dateProtocol = e.target.value
                        })

                        const buttonGenerate = document.createElement('button')
                        buttonGenerate.classList.add('btn-create', 'button', 'btn', 'btn-primary')
                        buttonGenerate.textContent = "Сгенерировать РПД для этих записей"
                        buttonGenerate.addEventListener('click', generateRPD)
                        disciplinesList.appendChild(buttonGenerate)
                        container.appendChild(disciplinesList)
                    }
                })
        }

        renderPage()

        filter1.addEventListener('change', function () {
            let filter1Id = this.value;

            fetch('/api/home/teacher-filter/' + filter1Id)
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('Ошибка HTTP ' + response.status);
                    }
                    return response.json();
                })
                .then(function (data) {
                    let disciplinesList = document.querySelector('.disciplines-list-container')
                    removeAllChildElements(disciplinesList)
                    disciplinesOPList = []
                    data.disciplinesOP.forEach(el => {
                        let li = document.createElement('li');
                        li.classList.add('discipline-op-element')
                        li.setAttribute('disciplineopid', el.id)
                        const disciplineName = document.createElement('p')
                        disciplineName.textContent = el.discipline.name + '. Индекс: ' + el.discipline.index;
                        li.appendChild(disciplineName)
                        const btnDeleteDiscipline = document.createElement('button')
                        btnDeleteDiscipline.textContent = "Не включать в генерацию"
                        btnDeleteDiscipline.classList.add('btn-danger', 'btn')
                        li.append(btnDeleteDiscipline)

                        btnDeleteDiscipline.addEventListener('click', () => deleteDisciplineFromGenerate(el.id, li))

                        disciplinesOPList.push(el.id)
                        disciplinesList.appendChild(li)
                    })
                    const numberProtocolInput = document.createElement('input')
                    numberProtocolInput.placeholder = "Номер протокола"
                    numberProtocolInput.classList.add('form-control', 'number-protocol-input')
                    disciplinesList.appendChild(numberProtocolInput)

                    numberProtocolInput.addEventListener('change', function (e) {
                        numberProtocol = e.target.value
                    })

                    const dateProtocolInput = document.createElement('input')
                    dateProtocolInput.placeholder = "Дата протокола"
                    dateProtocolInput.classList.add('form-control', 'date-input')
                    disciplinesList.appendChild(dateProtocolInput)

                    dateProtocolInput.addEventListener('change', function (e) {
                        dateProtocol = e.target.value
                    })

                    const buttonGenerate = document.createElement('button')
                    buttonGenerate.classList.add('btn-create', 'button', 'btn', 'btn-primary')
                    buttonGenerate.textContent = "Сгенерировать РПД для этих записей"
                    buttonGenerate.addEventListener('click', generateRPD)
                    disciplinesList.appendChild(buttonGenerate)
                    container.appendChild(disciplinesList)
                })
                .catch(function (error) {
                    console.error('Ошибка загрузки данных:', error);
                    alert('Ошибка при загрузке данных');
                });
        });

        function deleteDisciplineFromGenerate(id, deletedElement) {
            if (!deletedElement.classList.contains('deletedItem')) {
                // Удаляем элемент из массива disciplinesOPList
                disciplinesOPList = disciplinesOPList.filter(el => el !== id);
                deletedElement.classList.add('deletedItem');
            } else {
                // Добавляем элемент в массив disciplinesOPList
                disciplinesOPList.push(id);
                deletedElement.classList.remove('deletedItem');
            }
        }

        function removeAllChildElements(parentElement) {
            while (parentElement.firstChild) {
                parentElement.removeChild(parentElement.firstChild);
            }
        }

        function checkAdmin(data) {
            if (data.role === 'administrator') {
                isAdmin = true;
            }
        }

        function closeModal(modal) {
            let form = document.querySelector('.createForm')
            removeAllChildElements(form)
            modal.style.display = 'none';
        }

        function generateRPD() {
            if (!dateProtocol || !numberProtocol || !disciplinesOPList.length) {
                showModalWithMessage("Введите номер и дату протокола")
                return
            }
            fetch('/api/document/generate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken
                },
                body: JSON.stringify({
                    oopId: oopId.toString(),
                    protocolDate: dateProtocol,
                    protocolNumber: numberProtocol,
                    disciplinesOPList: disciplinesOPList
                })
            })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = 'Файлы РПД.zip';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error:', error));
        }
    });
</script>
</body>
</html>